---
layout: default
---

<div class="home">

  <br>
  <h1 class="page-heading">The Blog</h1>
  <br>

  <div class="post-list">
    {% for post in site.posts %}
        <div class="post-container">
            <img class="post-thumbnail" src="{{ post.thumbnail }}"/>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }} — {{ post.author }}</span>
            <h2>
              <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
          </h2>
        </div>
    {% endfor %}
  </div>
</div>
