---
layout: default
---

{% if page.back %}
<div class="document-back">
  <p><a rel="up" href="{{ page.back.url }}">« {{ page.back.name }}</a></p>
</div>
{% endif %}

{% if page.nav %}

<nav class="document-nav" role="navigation">
  <ul>
    {% for link in page.nav %}
    <li><a href="#{{ link.id }}"{% if link.location %} data-subpage-url="{{ link.location }}"{% endif %}>{{ link.name }}</a></li>
    {% endfor %}
  </ul>
</nav>

{% endif %}

<article class="document" role="article">

  {{ content }}

</article>
