<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width initial-scale=1">
  <link rel="stylesheet" href="//code.cdn.mozilla.net/fonts/fira.css">

  <!-- build:css({app,.tmp}) /css/main.css -->
  <!-- Custom CSS -->
  <link rel="stylesheet" href="/_bower_components/normalize.css/normalize.css">
  <link rel="stylesheet" href="/css/main.css">
  <!-- endbuild -->

  <!-- build:js(app) /js/scripts.js -->
  <script src="/_bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/dynamic.js"></script>
  <!-- endbuild -->

</head>
<body {% if page.categories %}class="{{ page.categories | join: ' ' }}"{% endif %}>

  {% include header.html %}

  {% if page.hero %}
  {% include hero.html %}
  {% endif %}

  <main class="site-main" role="main">
    {% if page.subpages%}
    <ul class="document-nav">
      {% for subpage in page.subpages %}
        {% if subpage.embed %}
        <li><a href="#{{ subpage.name }}" data-subpage-url="{{ subpage.location }}">{{ subpage.name }}</a></li>
        <!--<script>addContent('#{{ subpage.name }}', '{{ subpage.location }}');</script>-->
        {% else %}
        <li><a href="{{ subpage.location }}">{{ subpage.name }}</a></li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endif %}

    {{ content }}

  </main>

  {% include footer.html %}

</body>
</html>
