---
layout: default
---

{% if page.url contains 'blog' %}
  {% assign blog_page = true %}
{% endif %}

<article class="post" role="article">
  <h1 class="post-title">{{ page.title }}</h1>
  {% if page.author or page.date %}
  <div class="post-meta">
  {% if page.author %}
    <p class="post-author">By {{ page.author }}</p>
  {% endif %}
  {% if page.date %}
    {% assign datetime = page.date | date_to_xmlschema %}
    <p class="post-date"><time title="{{ datetime }}" datetime="{{ datetime }}">{{ page.date | date_to_string }}</p>
    {% endif %}

  {% if page.categories and blog_page %}
  <ul class="post-categories">
    {% for category in page.categories %}
    <li>{{ category }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  </div>
  {% endif %}

  {{ content }}

  {% if blog_page %}
  <footer>
    <p><a rel="up" href="/blog/">« Back to the Build Blog</a></p>
  </footer>
  {% endif %}

  {% if page.back %}
  <footer>
    <p><a href="{{ page.back.url }}">« Back to {{ page.back.name }}</a></p>
  </footer>
  {% endif %}

</article>
