// _contact.scss

.contact .site-main {
  text-align: center;
}

.contact p {
  margin-bottom: 0;
}

.contact section {
  @include fill-parent;
  @include pad;
}

.contact-officers-list {
  @include media($medium-screen-up) {
    columns: 4;
    :first-child {
      margin-top: 0;
    }
  }
}
