// _footer.scss

.site-footer p {
  margin-bottom: 0;
}

.site-footer-links {
  padding: ($base-spacing / 2) 0;
  background-color: $footer-links-background-color;
  color: $footer-links-font-color;
}

.site-footer-links > ul {
  @include outer-container;
}

.site-footer-links > ul > li {
  @include pad;
  > a {
    text-transform: uppercase;
    font-weight: 700;
  }
  li {
    @include media($mobile-vertical-up) {
      display: inline;
      & + li:before {
        content: " • "
      }
    }
    @include media($medium-screen-up) {
      display: block;
      & + li:before {
        content: ''
      }
    }
  }
  @include media($medium-screen-up) {
    display: block;
    float: left;
    width: 100% / $footer-links-number;
  }
}

.site-footer-links a {
  color: inherit;
  &:hover,
  &:focus,
  &:active {
    color: $footer-links-hover-color;
  }
}

.site-footer-other {
  @include outer-container;
  @include pad;
}

.site-footer-contact,
.site-footer-first {
  @include media($mobile-vertical-up) {
    @include span-columns(1);
    text-align: center;
  }
  @include media($large-screen-up) {
    @include span-columns(4);
    text-align: left;
  }
  @include media($mega-screen-up) {
    @include span-columns(6);
  }
}

.site-footer-first {
  line-height: 1;
  img {
    display: inline;
  }
  @include media($large-screen-up) {
    text-align: right;
  }
}

.site-footer-sm {
  padding: 0px;
  background-color: $footer-sm-background-color;
  color: $footer-sm-font-color;
}

.site-footer-sm > ul {
  @include outer-container;
}

.site-footer-sm > ul > li {
  padding: 20px 130px 15px;
  > a {
    text-transform: uppercase;
    font-weight: 700;
  }
  li {
    @include media($mobile-vertical-up) {
      display: inline;
      & + li:before {
        content: " • "
      }
    }
    @include media($medium-screen-up) {
      display: block;
      & + li:before {
        content: ''
      }
    }
  }
  @include media($medium-screen-up) {
    display: inline-block;
    width: 98.8% / ($footer-sm-number);
  }
}

.site-footer-sm a {
  color: inherit;
  &:hover,
  &:focus,
  &:active {
    color: $footer-sm-hover-color;
  }
}
