// _post.scss

%post-wrap {
  @include media($mobile-vertical-up) {
    @include span-columns(1);
  }
  @include media($medium-screen-up) {
    @include span-columns(3);
    @include shift(0.5);
  }
  @include media($large-screen-up) {
    @include span-columns(4);
    @include shift(2);
  }
  @include media($mega-screen-up) {
    @include span-columns(6);
    @include shift(3);
  }
}

.posts .hero-text h1 {
  @extend %post-wrap;
}

.post {
  @extend %post-wrap;
  @include omega;
  @include pad;
}

.post-title {
  // stupid...
  .hero + .site-main > .post > & {
    display: none;
  }
}

// oh come on
.post-categories {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    display: inline-block;
    padding: 4px;
    border-radius: $base-border-radius;
    margin-right: $base-spacing / 8;
    background-color: $light-purple;
    font-size: 0.8em;
    color: lighten($base-font-color, 20%);
    line-height: 1;
  }
}
