// note: after release 1.0.0 we need to organize the styles
// shame file

@media (screen and max-width: 860px) {
  .site-nav {
    .site-nav-btn {
      display: block;
      padding: $header-vertical-padding;
      color: $header-font-color;
      text-align: right;
      cursor: pointer;
    }
    ul {
      display: none;
    }
    li {
      float: none
    }
    a {
      display: block;
      margin: 0;
      padding: ($header-vertical-padding / 2) $header-vertical-padding;
      background-color: lighten($header-background-color, 5);
      text-align: right;
    }
    ul.js-active {
      display: block;
    }
  }
}
