---
title: Animations
layout: default
permalink: /divisions/media/animations/
categories: ['page-animations']
---

<div class="document-back">
  <p><a rel="up" href="/media/">« Media</a></p>
</div>

<nav class="document-nav" role="navigation">
  <ul>
    {% for animation in site.data.animations %}
      <li><a href="#animation-{{ animation.id }}">{{ animation.name }}</a></li>
    {% endfor %}
  </ul>
</nav>


<article class="document" role="article">

<h1>Animations</h1>

{% for animation in site.data.animations %}
  <article id="animation-{{ animation.id }}" class="animation">
    <h2>{{ animation.name }}</h2>
    <iframe width="720" height="405" src="https://www.youtube.com/embed/{{ animation.youtube_id }}?rel=0"></iframe>
    <p class="description">{{ animation.description }}</p>
  </article>
{% endfor %}

</article>
