---
layout: default
title: MVRT Build Blog
categories: ['page-blog']
hero: /img/hero/stock03.jpg
---

<div class="posts">
  <!-- This loops through the paginated posts -->
  {% for post in paginator.posts %}
  <article class="post">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <div class="post-meta">
        <p>Posted on&nbsp;<time class="post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time>{% if post.author %}&nbsp;by {{ post.author }}{% endif %}</p>
      </div>

      {{ post.content | split:'<!--break-->' | first }}

      {% if post.content contains '<!--break-->' %}
        <p><a class="read-more" href="{{ post.url }}">More…</a></p>
      {% endif %}

    </article>

  {% endfor %}

  <!-- Pagination links -->
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous">&laquo; Previous</a>
    {% endif %}
    <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next">Next &raquo;</a>
    {% endif %}
  </div>

</div>
