@import "neat-helpers"; // or "../neat/neat-helpers" when not in Rails

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);

// Neat Breakpoints
$mobile-vertical: em(320);
$mobile-horizontal: em(480);
$medium-screen: em(640);
$large-screen: em(860);
$mega-screen: em(1366);

$mobile-vertical-up: new-breakpoint(min-width $mobile-vertical 1);
$mobile-horizontal-up: new-breakpoint(min-width $mobile-horizontal 1);
$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);
$mega-screen-up: new-breakpoint(min-width $mega-screen 12);
