---
title: Mentors
permalink: /about/mentors/
categories: ['people']
---

<section id="intro">
  <h1>Our Mentors</h1>
  <p>Dedicated mentors, advisors, and volunteers are our team's most essential
    asset. Not only do they share their knowledge and expertise with the team,
    but also their valuable time and energy, which together comprises the
    backbone of our team.</p>
</section>

<section id="mentors">
  <h2>Mentors</h2>
  <ul class="people-list mentors-list">
  {% for mentor in site.data.mentors.current %}
    <li class="person mentor" data-img-url="{{ mentor.fname | append: '_' | append: mentor.lname | append: '.jpg' }}">
      <img src="/img/people/{{ mentor.fname | append: '_' | append: mentor.lname | append: '.jpg' }}" onerror="this.src='/img/people/generic.jpg'">
      <div class="person-info">
        <span class="person-name mentor-name">{% if mentor.prefix %}{{ mentor.prefix }}{% endif %} {{ mentor.fname }} {{ mentor.lname }}</span>
        <div class="mentor-details">
        {% if mentor.job %}<span class="mentor-job">{{ mentor.job }}</span>{% endif %}
        {% if mentor.background %}<span class="mentor-background">{{ mentor.background }}</span>{% endif %}
        {% if mentor.years %}<span class="mentor-years">{{ mentor.years }} years</span>{% endif %}
        {% if mentor.email %}<span class="mentor-email">{{mentor.email}}</span>{% endif%}
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>
</section>

<section id="mentors-past">
  <h2>Past Mentors</h2>
  <ul class="people-list mentors-list">
  {% for mentor in site.data.mentors.past %}
    <li class="person mentor" data-img-url="{{ mentor.fname | append: '_' | append: mentor.lname | append: '.jpg' }}">
      <img src="/img/people/{{ mentor.fname | append: '_' | append: mentor.lname | append: '.jpg' }}" onerror="this.src='/img/people/generic.jpg'">
      <div class="person-info">
        <span class="person-name mentor-name">{% if mentor.prefix %}{{ mentor.prefix }}{% endif %} {{ mentor.fname }} {{ mentor.lname }}</span>
        <div class="mentor-details">
        {% if mentor.job %}<span class="mentor-job">{{ mentor.job }}</span>{% endif %}
        {% if mentor.background %}<span class="mentor-background">{{ mentor.background }}</span>{% endif %}
        {% if mentor.years %}<span class="mentor-years">{{ mentor.years }} years</span>{% endif %}
        </div>
      </div>
    </li>
  {% endfor %}
  </ul>
</section>
