---
title: Meet the Team
permalink: /members/people/
categories: ['people']
back:
  name: Members
  url: /members/
---

<section id="intro">
  <h1>Meet the Team</h1>
  <p>We are builders, makers, designers, writers, managers, workers, &amp; creators. We are team people.</p>
</section>

<nav class="people-nav">
  <ul>
    <li><a href="#officers">Officers</a></li>
    <li><a href="#team">Team</a></li>
    <li><a href="/about/people/mentors/">Mentors</a></li>
    <li><a href="/about/people/alumni/">Alumni</a></li>
  </ul>
</nav>

<section id="officers">
  <h2>Our Officers</h2>
  <ul class="people-list officers-list">
  {% for officer in site.data.officers %}
    <li class="person officer" data-img-url="{{ officer.lname | append: ' ' | append: officer.fname | replace: ' ','-' | downcase | append: '.jpg' }}">
      <img src="/img/people/{{officer.fname | append: '_' | append: officer.lname | append: '.jpg' }}" onerror="this.src='/img/people/generic.jpg'">
      <div class="person-info">
        <span class="person-name officer-name">{{ officer.fname }} {{ officer.lname }}</span>
        <span class="officer-position">{{ officer.position }}</span>
      </div>
    </li>
  {% endfor %}
  </ul>
</section>

<section id="team">
  <h2>The Team</h2>
  <ul class="people-list">
  {% for member in site.data.members %}
    <li class="person">
    <img src="/img/people/{{member.fname | append: '_' | append: member.lname | append: '.jpg' }}" onerror="this.src='/img/people/generic.jpg'">
      <div class="person-info">
        <span class="person-name"i>{{ member.fname | append:' ' | append:member.lname }}</span>
      </div>
    </li>
  {% endfor %}
  </ul>
</section>
