<footer class="site-footer">
  <div class="site-footer-links">
    <ul>
      <li>
        <a href="/first/">FIRST</a>
        <ul>
          <li><a href="/first/games/">Games</a></li>
          <li><a rel="external" href="http://usfirst.org/">FIRST Website</a></li>
        </ul>
      </li>
      <li>
        <a href="/about/">About</a>
        <ul>
          <li><a href="/about/history/team/">History</a></li>
          <li><a href="/about/history/robots/">Robots</a></li>
          <li><a href="/about/outreach/">Outreach</a></li>
          <li><a href="/about/people/">People</a></li>
          <li><a href="/about/divisions/">Divisions</a></li>
          <li><a href="/about/sponsors/">Sponsors</a></li>
        </ul>
      </li>
      <li>
        <a href="/about/people">Members</a>
        <ul>
          <li><a href="/members/join/">Join</a></li>
          <li><a href="/members/calendar/">Calendar</a></li>
          <li><a href="/members/parents/">Parents</a></li>
          <li><a href="/members/scholarships/">Scholarships</a></li>
          <li><a href="/members/snackschedule/">Snack Schedule</a></li>
          <li><a href="/members/competitions/">Competitions</a></li>
        </ul>
      </li>
      <li>
        <a href="/media/">Media</a>
        <ul>
          <li><a href="/media/gallery/">Gallery</a></li>
          <li><a href="/media/videos/">Videos</a></li>
          <li><a href="/media/publicity/">Publicity</a></li>
          <li><a href="/media/animations/">Animations</a></li>
          <li><a href="/media/website/">Website</a></li>
        </ul>
      </li>
      <li>
        <a href="/resources/">Resources</a>
        <ul>
          <li><a href="/resources/firstaidkit/">FIRST Aid Kit</a></li>
          <li><a href="/resources/trainings/">Trainings</a></li>
          <li><a href="/resources/documents/">Helpful Documents</a></li>
          <li><a href="/resources/videos/">Video Resources</a></li>
          <li><a href="/resources/links/">Helpful Links</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="site-footer-other">
    <div class="site-footer-item site-footer-contact">
      <p>© 2014 Monta Vista Robotics Team 115. All Rights Reserved.</p>
      <p>21840 McClellan Road Cupertino, CA 95014.</p>
    </div>
    <div class="site-footer-item site-footer-first">
      <a rel="external" href="http://usfirst.org/" title="Visit FIRST’s Website.">
        <img src="/img/first.png" height="50" alt="Visit FIRST’s Website.">
      </a>
    </div>
  </div>
</footer>
