<footer class="site-footer">
  <div class="site-footer-links">
    <ul>
      <li>
        <a href="/about/">About</a>
        <ul>
          <li><a href="/about/#first">About FIRST</a></li>
          <li><a href="/about/#team-history">History</a></li>
          <li><a href="/about/#robots">Robots</a></li>
          <li><a href="/about/#sponsors">Sponsors</a></li>
        </ul>
      </li>
      <li>
        <a href="/about/people">Members</a>
        <ul>
          <li><a href="/about/people/#officers">Officers</a></li>
          <li><a href="/about/people/#managers">Managers</a></li>
          <li><a href="/about/people/#team">Team</a></li>
          <li><a href="/about/people/mentors/">Mentors</a></li>
          <li><a href="/about/people/alumni/">Alumni</a></li>
        </ul>
      </li>
      <li>
        <a href="/events/">Events</a>
        <ul>
          <li><a href="/events/">Calendar</a></li>
          <li><a href="/events/build/">Build Schedule</a></li>
        </ul>
      </li> 
      <li>
        <a href="/resources/">Resources</a>
        <ul>
          <li><a href="/resources/links/">Links</a></li>
          <li><a href="/resources/breakoutboards/">Breakout Boards</a></li>
          <li><a href="/resources/trainings/">Trainings</a></li>
        </ul>
      </li>     
      <li>
        <a href="/join/">Join MVRT</a>
      </li>
      <li>
        <a href="/contact/">Contact</a>
      </li>
    </ul>
  </div>  
  <div class="site-footer-sm">
    <ul>
      <li><a href="https://twitter.com/mvrt115"><img src="/img/twitter.png" height="50"></a></li>
      <li><a href="https://www.flickr.com/photos/mvrt"><img src ="/img/flickr.png" height="50"></a></li>  
      <li><a href="https://www.facebook.com/mvrt115/"><img src ="/img/facebook.png" height="50"></a></li>
      <li><a href="https://www.snapchat.com/add/mvrt115"><img src="/img/snapchat.jpg" height="50"></a></li>
    </ul>
  </div>
  <div class="site-footer-other">
    <div class="site-footer-item site-footer-contact">
      <p>© {{ site.time | date: '%Y' }} Monta Vista Robotics Team 115. All Rights Reserved.</p>
      <p>21840 McClellan Road Cupertino, CA 95014.</p>
    </div>
    <div class="site-footer-item site-footer-first">
      <a rel="external" href="http://usfirst.org/" title="Visit FIRST’s Website.">
        <img src="/img/first.png" height="50" alt="Visit FIRST’s Website.">
      </a>
    </div>
  </div>
</footer>
