<header class="site-header" role="banner">
  <div class="site-header-wrap">
    <h1><a class="logo" href="/">MVRT</a></h1>
    <nav class="site-nav" role="navigation">
      <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/members/">Members</a></li>
        <li><a href="/media/">Media</a></li>
        <li><a href="/resources/">Resources</a></li>
        <li><a href="/join/">Join</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
