<header class="site-header" role="banner">
  <div class="site-header-wrap">
    <h1><a class="logo" href="/"><img src="/img/logo.png" alt=""><span>MVRT</span></a></h1>
    <nav class="site-nav" role="navigation">
      <span class="site-nav-btn">Menu</span>
      <ul>
        <li><a href="/about/">About</a></li>
        <li><a href="/about/people">Members</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/resources/">Resources</a></li>
        <li><a href="/join/">Join</a></li>
        <li><a href="/contact/">Contact</a></li>
        <li><a href="/news/">News</a></li>
      </ul>
    </nav>
  </div>
</header>
