<header class="site-header" role="header">
  <div class="site-header-wrap">
    <h1><a href="/">MVRT</a></h1>
    <nav class="site-nav">
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/members">Members</a></li>
        <li><a href="/media">Media</a></li>
        <li><a href="/resources">Resources</a></li>
        <li><a href="/sponsors">Sponsors</a></li>
        <li><a href="/join">Join</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>
