// _blog.scss

// pagination styles
.pagination {
  @extend %post-wrap;
  @include pad(default 0);
  font-size: modular-scale(-1);
  color: $medium-gray;
}

.pagination a {
  color: $purple;
}

.pagination a:hover,
.pagination a:active {
  color: lighten($purple, 10%);
}

// TODO dasherize this selector
.pagination .page_number {
  padding-left: 5px;
  padding-right: 5px;
}

// wrap hero text on blog page
.page-blog .hero-text h1 {
  @extend %post-wrap;
}

// recolor blog links
.page-blog .post > h2 > a {
  &:link, &:visited {
    color: $base-font-color;
  }
  &:hover, &:active {
    color: $purple;
  }
}

// Create post styles
.create-post {
  @extend %post-wrap;
  @include pad(default 0);
}

.create-post [name="post-text"] {
  resize: none;
}
