// _blog.scss

.back-to-blog {
  float: left;
  @include pad;
}

.pagination {
  @extend %post-wrap;
  @include omega;
  @include pad;
  font-size: 90%;
  color: #888888;
}

.pagination a {
  color: $purple;
}

.pagination a:hover {
  color: purple;
}

.pagination .page_number {
  padding-left: 5px;
  padding-right: 5px;
}

.page-blog .hero-text h1 {
  @extend %post-wrap;
}

.page-blog .post > h2 > a {
  &:link, &:visited {
    color: $base-font-color;
  }
  &:hover, &:active {
    color: $purple;
  }
}

.create-post {
  @include span-columns(6);
  @include shift(3);
  @include omega;
  @include pad;
}

.create-post [name="post-text"] {
  resize: none;
}
