// _contact.scss
// The geometry here is super complicated...
// TODO will probably have to change the markup

.contact section {
  //@extend %post-wrap;
  text-align: center;
  h1,
  h2 {
    padding-top: ($base-spacing / 2);
  }
}

.contact-officers-list {
  margin-bottom: $base-spacing;
  @include media($medium-screen-up) {
    columns: 3;
    :first-child {
      margin-top: 0;
    }
  }
}
