// _content.scss

.site-main {
  background-color: $base-background-color;
  @include outer-container;
  :not(.home) & {
    margin-top: $header-height;
  }
  .hero + & {
    margin-top: 57vh;
  }
}

.site-main > section {
  @include fill-parent;
}

.section-images {
  @include span-columns(4, block-collapse);
}

.section-content {
  @include span-columns(8, block-collapse);
  @include pad;
}
