// _document.scss

// TODO mixin this
.document-back {
  font-size: 0.8em;
  padding-top: flex-gutter();
  p {
    margin-bottom: 0;
    line-height: 1;
  }
  a:link,
  a:visited {
    color: inherit;
  }
}

// Styles the document nav thing
.document-nav {
  position: relative;
  margin-top: flex-gutter();
  margin-bottom: flex-gutter();
  a {
    display: block;
    padding: ($base-spacing / 4) ($base-spacing / 2);
    border-bottom: $base-border;
    color: inherit;
  }
  li:first-of-type a {
    border-top: $base-border;
  }
}

// When stuck fix the position too
.document-nav .stuck {
  @include media($medium-screen-up) {
    padding-top: flex-gutter() / 2;
    position: fixed;
    top: 0;
    display: block;
  }
}

// A good background color for the active nav
.document-nav .active {
  background-color: $light-purple;
}

// Style the document itself too
.document {
  margin-top: flex-gutter();
  margin-bottom: flex-gutter();
  :not(.document-nav) + & {
    width: 100% !important;
  }
}

// Document layouts for different viewport sizes
@include media($mobile-vertical-up) {
  .document-nav,
  .document {
    @include span-columns(1);
  }
}

// This one does math weirdly, but doesn't matter
@include media($medium-screen-up) {
  .document-nav {
    @include span-columns(1.3333);
  }
  .document {
    @include span-columns(2.6666);
  }
}

// but because it does math weirdly we need this
@include media($large-screen-up) {
  .document-nav {
    @include span-columns(2.6666);
  }
  .document {
    @include span-columns(5.3333);
  }
}
