// _document.scss

.document-back {
  @include pad(default default 0);
  font-size: 0.8em;
}

.document-back p {
  @include pad($base-spacing / 2);
  margin-bottom: 0;
  line-height: 1;
  a {
    color: inherit;
  }
  a:hover, a:active {
    color: $base-link-color;
  }
}

.document-nav {
  @include span-columns(4, block-collapse);
  @include pad;
  a {
    display: block;
    padding: ($base-spacing / 4) 0;
    border-bottom: $base-border;
    color: inherit;
  }
  li:first-of-type a {
    border-top: $base-border;
  }
}

.document-nav .active {
  background-color: $light-purple;
  padding-left: $base-spacing / 2;
}

.document {
  @include span-columns(12, block-collapse);
  @include pad;
}
