// _document.scss

.document-back {
  @include pad(default default 0);
  font-size: 0.8em;
}

.document-back p {
  @include pad($base-spacing / 2);
  margin-bottom: 0;
  line-height: 1;
  a {
    color: inherit;
  }
  a:hover, a:active {
    color: $base-link-color;
  }
}

.document-nav {
  position: relative;
  a {
    display: block;
    padding: ($base-spacing / 4) ($base-spacing / 2);
    border-bottom: $base-border;
    color: inherit;
  }
  li:first-of-type a {
    border-top: $base-border;
  }
  @include pad;
}

.document-nav .stuck {
  @include media($medium-screen-up) {
    @include pad($base-spacing 0 0 0);
    position: fixed;
    top: 0;
    display: block;
  }
}

.document-nav .active {
  background-color: $light-purple;
}

.document {
  @include pad;
  :not(.document-nav) + & {
    width: 100% !important;
  }
}

@include media($mobile-vertical-up) {
  .document-nav,
  .document {
    float: right;
    width: 100%;
  }
}

@include media($medium-screen-up) {
  @include direction-context(left-to-right) {
    .document-nav {
      @include span-columns(1, block-collapse);
    }
    .document {
      @include span-columns(3, block-collapse);
    }
  }
}

@include media($large-screen-up) {
  .document-nav {
    @include span-columns(2, block-collapse);
  }
  .document {
    @include span-columns(6, block-collapse);
  }
}

@include media($mega-screen-up) {
  .document-nav {
    @include span-columns(4, block-collapse);
  }
  .document {
    @include span-columns(8, block-collapse);
  }
}
