// _gallery.scss

// TODO MIXIN THIS
.page-gallery > .site-main {
  @include outer-container(100%);
  & h1 {
    @include pad;
    text-align: center;
  }
}

// the giant ul element that holds the album thumbnails
.gallery {
  @include row;
  list-style-type: none;
  padding-left: 0; // TODO do something about the document layout
}

// This is poorly named, it really refers to the gallery album thumbnails
.gallery-album {
  position: relative;
  width: 10%;
  float: left;
  // the dark overlay
  // TODO mixin?
  &:before {
    @include position(absolute, 0 null null 0);
    display: block;
    width: 100%;
    height: 100%;
    content: ' ';
    background-color: transparent;
    background-image: linear-gradient(to bottom, $dark-gray, black);
    opacity: 0.4;
  }
  &:hover:before {
    background-image: none;
  }
  @include media($mobile-vertical-up) {
    width: 33.33%;
  }
  @include media($mobile-horizontal-up) {
    width: 20%;
  }
  @include media($medium-screen-up) {
    width: 16.66%;
  }
  @include media($large-screen-up) {
    width: 12.5%;
  }
  @include media($mega-screen-up) {
    width: 10%;
  }
}

// this is the img of the gallery-album
.gallery-album-preview {
  width: 100%;
}

// this is the title of the thumbnail of the album
.gallery-album-name {
  @include position(absolute, null null 0px 0px);
  display: block;
  width: 100%;
  padding: 4px;
  font-size: modular-scale(-1);
  line-height: 1.1;
  color: white;
}

// the actual displaying of the album
.gallery-photos {
  @include position(fixed, 0px null null 0px);
  z-index: $gallery-photos-z-index;
  width: 100%;
  height: 100vh;
  background-color: black;
  &-main {
    img,
    video {
      @include position(absolute, 50% null null 50%);
      transform: translate(-50%, -50%);
      max-height: 60%; // magic number
    }
  }
}

// the thing at the bottom
// on hover, it's max-height changes from 5% to 40%, to simulate a slide
.gallery-photos-carousel {
  @include position(absolute, null null 0px 0px);
  width: 100%;
  max-height: 5%;
  overflow-y: hidden;
  opacity: 0.2;
  transition: opacity 0.3s linear 0.5s, max-height 0.3s linear 0.5s, overflow 0.3s linear;
  background-color: black;
  border-top: 4px solid $medium-gray;
  &:hover {
    opacity: 0.9;
    max-height: 40%;
    overflow-y: auto;
    transition: opacity 0.3s linear, max-height 0.3s linear, overflow 0.3s linear 0.5s;
  }
  ul {
    width: 75%;
    text-align: center;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    @include clearfix;
  }
  li {
    width: 48px; // just a small size
    margin: 0.5em;
    display: inline-block;
  }
}

// active thumbnail has a border
.js-active-thumb {
  border: 2px solid $light-purple;
}
