// _gallery.scss

.page-gallery > .site-main {
  @include outer-container(100%);
  & > h1 {
    padding: $base-spacing;
    text-align: center;
  }
}
.document:last-child {
  width: 100%
}
.page-gallery h1 {
    @include pad;
}
.gallery {
  @include row;
  list-style-type: none;
}

.gallery-album {
  position: relative;
  width: 10%;
  float: left;
  &:before {
    @include position(absolute, 0 null null 0);
    display: block;
    width: 100%;
    height: 100%;
    content: ' ';
    background-color: transparent;
    background-image: linear-gradient(to bottom, $dark-gray, black);
    opacity: 0.4;
  }
  &:hover:before {
    background-image: none;
  }
}

.gallery-album-preview {
  width: 100%;
}

.gallery-album-name {
  @include position(absolute, null null 0px 0px);
  display: block;
  width: 100%;
  padding: 4px;
  font-size: 0.8em;
  line-height: 1.1;
  color: white;
}

.gallery-photos {
  @include position(fixed, 0px null null 0px);
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: black;
  &-main {
    //@include position(absolute, 40% null null 50%);
    //transform: translate(-50%, -50%);
    //max-height: 70%;
    img,
    video {
      @include position(absolute, 50% null null 50%);
      transform: translate(-50%, -50%);
      max-height: 60%;
    }
  }
}

.gallery-photos-carousel {
  @include position(absolute, null null 0px 0px);
  width: 100%;
  opacity: 0;
  overflow: hidden;
  transition: opacity 0.2s linear;
  &:hover {
    opacity: 1;
    transition: opacity 0.2s linear;
  }
  ul {
    position: relative;
    @include clearfix;
    width: 20000em;
  }
  li {
    float: left;
  }
}
