// _gallery.scss

.page-gallery > .site-main {
  @include outer-container(100%);
  & h1 {
    @include pad;
    text-align: center;
  }
}
.gallery {
  @include row;
  list-style-type: none;
  padding-left: 0;
}

.gallery-album {
  position: relative;
  width: 10%;
  float: left;
  &:before {
    @include position(absolute, 0 null null 0);
    display: block;
    width: 100%;
    height: 100%;
    content: ' ';
    background-color: transparent;
    background-image: linear-gradient(to bottom, $dark-gray, black);
    opacity: 0.4;
  }
  &:hover:before {
    background-image: none;
  }
}

.gallery-album-preview {
  width: 100%;
}

.gallery-album-name {
  @include position(absolute, null null 0px 0px);
  display: block;
  width: 100%;
  padding: 4px;
  font-size: 0.8em;
  line-height: 1.1;
  color: white;
}

.gallery-photos {
  @include position(fixed, 0px null null 0px);
  z-index: 10;
  width: 100%;
  height: 100vh;
  background-color: black;
  &-main {
    //@include position(absolute, 40% null null 50%);
    //transform: translate(-50%, -50%);
    //max-height: 70%;
    img,
    video {
      @include position(absolute, 50% null null 50%);
      transform: translate(-50%, -50%);
      max-height: 60%;
    }
  }
}

.gallery-photos-carousel {
  @include position(absolute, null null 0px 0px);
  width: 100%;
  max-height: 5%;
  overflow-y: hidden;
  opacity: 0.2;
  transition: opacity 0.3s linear 0.5s, max-height 0.3s linear 0.5s, overflow 0.3s linear;
  background-color: black;
  border-top: 4px solid $medium-gray;
  &:hover {
    opacity: 0.9;
    max-height: 40%;
    overflow-y: auto;
    transition: opacity 0.3s linear, max-height 0.3s linear, overflow 0.3s linear 0.5s;
  }
  ul {
    width: 75%;
    text-align: center;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    @include clearfix;
  }
  li {
    width: 5%;
    margin: 0.5em;
    display: inline-block;
  }
}

.js-active-thumb {
  border: 2px solid $light-purple;
}
