// _hero.scss
// Hero styling

.hero {
  @include position(absolute, 0 null null 0);
  z-index: $hero-z-index;
  height: $hero-height;
  width: 100%;
  // TODO parallax? (requires js)
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-color: $purple;
  // The dark overlay
  // This is necessary b/c we set the image directly on the HTML
  &:after {
    @include position(absolute, 0 null null 0);
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 33%, rgba(0,0,0,0.5));
    content: "";
  }
}

// Hero text styles
.hero-text {
  @include position(absolute, null null 0 50%);
  @include outer-container;
  @include pad;
  width: 100%;
  transform: translateX(-50%);
  z-index: $hero-text-z-index;
  // Typography
  color: white;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  h1 {
    // font size has to be specified here else it becomes wonky
    font-size: modular-scale(4);
    font-weight: inherit;
    line-height: inherit;
  }
}
