.hero {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 57vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-color: $purple;
  &:after {
    @include position(absolute, 0px null null 0px);
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, transparent 33%, rgba(0,0,0,0.5));
    content: "";
  }
}

.hero-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  color: white;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  z-index: 5;
  @include outer-container;
  h1 {
    font-size: 3em;
    font-weight: 400;
    line-height: inherit;
    @include fill-parent;
    @include pad;
  }
}
