// _history.scss

.team-history .site-main > h1 {
  padding-top: $base-spacing / 2;
  text-align: center;
}

.team {
  @include row;
  @include pad;
  h3 {
    margin-top: $base-spacing;
  }
}

.team h2 {
    text-align: center;
    @include pad;
}

.team-info {
  font-size: 0.8em;
}
.team-info h3 {
    padding-bottom: 10px;
}

.team-picture {
    @include span-columns(12);
}
.team-info {
    @include span-columns(12);
}

.officers-div,
.driver-div {
  padding-bottom: $base-spacing;
  @include media($mobile-vertical-up) {
    @include span-columns(1);
  }
  @include media($large-screen-up) {
    @include span-columns(4);
  }
  @include media($mega-screen-up) {
    @include span-columns(6);
  }
}

.team-officers,
.team-drivers {
  @include clearfix;
  margin-top: 0;
  margin-bottom: 0;
  dt, dt:first-of-type {
    margin-top: 0;
    float: left;
    clear: right;
    font-weight: 400;
  }
  dd, dd:first-of-type {
    margin-top: 0;
    float: right;
    clear: right;
    font-weight: 400;
    }
}
