// _home.scss
// Homepage styles
// NOTE The usage of page specific styles is not a good one.

// The nav bar should be focused on the homepage
// TODO rename to .page-home later
.home .site-header {
  position: fixed;
}

// .site-main should be maxed out, no margins
.home .site-main {
  @include outer-container(100%);
  @include pad(0);
  margin-top: 0;
}

// A step is one of those giant backgrounds with text
.step {
  position: relative;
  height: 100vh;
  //background-attachment: fixed;
  background-color: $purple;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

// Step wrap is the text inside each step
.step-wrap {

  @include pad;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: white;
  font-weight: 400;
  text-align: center;

  @extend %post-wrap;

  @include media($medium-screen-up) {
    font-size: modular-scale(1);
  }

  h1,
  h2,
  h3 {
    font-weight: inherit;
    text-transform: uppercase;
    line-height: 1;
  }
  h1 {
    font-size: modular-scale(4);
  }
  h2 {
    font-size: modular-scale(2);
  }
  h3 {
    font-size: modular-scale(1);
  }
  a {
    text-transform: uppercase;
    color: white;
    &:hover,
    &:focus,
    &:active {
      color: $light-purple;
    }
  }

}

// The "more" information thing
.step-more {
  font-weight: 700;
}

// TODO rename this
#scroll_down {
  margin-left: auto;
  margin-right: auto;
  transform: translate(-50%, -50%);
  @include position(absolute, null null 5% 50%);
  color: white;
}

// Ugly code - basically adds an image background for the steps...
@each $step, $img in $steps {
  .home .step-#{$step} {
    @include image-solid-background("/img/hero/#{$img}");
  }
}

// NOTE try not to use ids
#sponsors {
  padding: $base-spacing 0;
}

// Horribly specific
// TODO restyle this?
#sponsors > h2 {
  font-size: 3em;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

// Styles the sponsors list on the home page
.home-sponsors-list {
  text-align: center;
  max-width: $max-width;
  margin: ($base-spacing / 2) auto;
  li {
    display: inline-block;
    @include media($mobile-vertical-up) {
      width: 50%;
    }
    @include media($medium-screen-up) {
      width: 33%;
    }
    @include media($large-screen-up) {
      width: 20%;
    }
  }
  a {
    display: block;
    padding: $base-spacing;
  }
  img {
    display: inline;
    vertical-align: middle;
  }
}

// The ever so unique thing
.mvrt {
  color: $light-gold;
  &::selection {
    background-color: $purple;
  }
}
