// _people.scss

.people .site-main {
  @include outer-container(100%);
  @include pad(0);
}

.people section {
  @include pad;
  h1,
  h2,
  &:first-child {
    text-align: center;
  }
}

.people #intro {
  max-width: 640px;
  margin: auto;
}

.people-nav {
  border-top: $base-border;
  border-bottom: $base-border;
  ul {
    display: block;
    text-align: center;
  }
  li {
    display: inline-block;
  }
  a {
    display: block;
    padding: $base-spacing / 2;
    &:link, &:visited {
      color: $base-font-color;
    }
    &:hover, &:active {
      color: $medium-purple;
    }
  }
}

.people-list {

  @include clearfix;

  .person {
    color: $light-gray;
    position: relative;
    float: left;
    width: (100 / $grid-columns) * 2%;
    &:hover:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      min-height: 100%;
      min-width: 100%;
      background-color: transparentize($light-purple, 0.5);
      content: ' ';
    }
    @include media($mobile-vertical-up) {
      width: 50%;
    }
    @include media($mobile-horizontal-up) {
      width: 25%;
    }
    @include media($medium-screen-up) {
      width: 16.66%;
    }
  }

  .person img {
    width: 100%;
  }

  .person-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: $base-spacing / 4;
    background: transparentize($dark-gray, 0.3);
  }

  .person-info span {
    display: block;
  }

}

.officer-position,
.mentor-details {
  font-size: modular-scale(-1);
}

// Mentor hiding sliding thing
// Kinda cheating, but whatever
.mentor {
  .mentor-background,
  .mentor-years {
    max-height: 0px;
    transition: max-height 0.5s linear; // note there is a slight delay
    overflow: hidden;
  }
}

.mentor:hover {
  .mentor-background,
  .mentor-years {
    max-height: 200px; // a random number
  }
}
