// _people.scss

.people .site-main {
  @include outer-container(100%);
}

.people section {
  padding-top: $base-spacing * 2;
  h1,
  h2,
  &:first-child {
    text-align: center;
    max-width: 800px;
    margin: auto;
  }
}

.people-list {

  @include pad;
  @include row;
  @include fill-parent;

  .person {
    color: #DDDDDD;
    position: relative;
    float: left;
    width: (100 / $grid-columns) * 2%;
    &:hover:before {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      min-height: 100%;
      min-width: 100%;
      background-color: transparentize($light-purple, 0.5);
      content: ' ';
    }
    @include media($mobile-vertical-up) {
      width: 50%;
    }
    @include media($mobile-horizontal-up) {
      width: 25%;
    }
    @include media($medium-screen-up) {
      width: 16.66%;
    }
  }

  .person img {
    width: 100%;
  }

  .person-info {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: $base-spacing / 4;
    background: rgba(32, 32, 32, 0.7);
  }

  .person-info span {
    display: block;
  }

}

.people-nav {
  border-top: $base-border;
  border-bottom: $base-border;
  ul {
    display: block;
    text-align: center;
  }
  li {
    display: inline-block;
  }
  a {
    display: block;
    padding: $base-spacing / 2;
    &:link, &:visited {
      color: $base-font-color;
    }
    &:hover, &:active {
      color: $medium-purple;
    }
  }
}
.officer-position, .mentor-details {
    font-size: 80%;
}
.mentor-details {
    max-height: 23px;
    overflow: hidden;

    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.person:hover .mentor-details{
    max-height: 150px;
}
