// _post.scss

// If there is hero text, wrap it to post length
.posts .hero-text h1 {
  @extend %post-wrap;
}

// Post box thingy
.post {
  @extend %post-wrap;
  @include pad(default 0);
}

.post-title {
  // If there is a hero, then hide the article post title.
  // This is really stupid.
  .hero + .site-main > .post > & {
    display: none;
  }
}

// meta stuff
.post-meta {
  border-bottom: $base-border;
  padding-bottom: flex-gutter();
  margin-bottom: flex-gutter();
  p {
    margin-bottom: 0;
  }
}

// oh come on
// leave this alone since no one ever uses it
.post-categories {
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    display: inline-block;
    padding: 4px;
    border-radius: $base-border-radius;
    margin-right: $base-spacing / 8;
    background-color: $light-purple;
    font-size: 0.8em;
    color: lighten($base-font-color, 20%);
    line-height: 1;
  }
}
