// _post.scss

.posts .hero-text h1 {
  @include span-columns(6);
  @include shift(3);
}

.post {
  @include span-columns(6);
  @include shift(1);
  @include omega;
  @include pad;
}

.post-title {
  // stupid...
  .hero + .site-main > .post > & {
    display: none;
  }
}

.post-meta {
  border-bottom: $base-border;
  padding-bottom: $base-spacing;
  margin-bottom: $base-spacing;
  p {
    margin-bottom: 0;
  }
}
