// _robots.scss

.page-robots > .site-main > h1 {
  padding-top: $base-spacing / 2;
  text-align: center;
}


.robot {
  @include row;
  @include pad;
}

.robot-info {
  font-size: 0.8em;
  ul {
    @extend %default-ul;
  }
}

.robot-meta {
  @include clearfix;
  dt, dt:first-of-type {
    margin-top: 0;
    float: left;
    clear: both;
  }
  dd {
    float: right;
    clear: right;
  }
}

@include direction-context(left-to-right) {
  .robot:nth-of-type(2n+1) {
    .robot-picture {
      @include span-columns(8);
    }
    .robot-info {
      @include span-columns(4);
    }
  }
}

@include direction-context(right-to-left) {
  .robot:nth-of-type(2n) {
    .robot-picture {
      @include span-columns(8);
    }
    .robot-info {
      @include span-columns(4);
    }
  }
}
