// _robots.scss

// TODO mixin this
// but no need to rush that :)
// it's not even used
// so hey lets comment it out!
//.page-robots > .site-main > h1 {
//  padding-top: $base-spacing / 2;
//  text-align: center;
//}

.robot {
  @include clearfix;
  margin-top: $base-spacing;
}

.robot-info {
  margin-top: $base-spacing;
  font-size: modular-scale(-1);
  ul {
    @extend %default-ul;
  }
}

.robot-meta {
  @include clearfix;
  dt, dt:first-of-type {
    margin-top: 0;
    float: left;
    clear: both;
  }
  dd {
    float: right;
    clear: right;
  }
}

// every odd one reads LTR
@include direction-context(left-to-right) {
  @include media($large-screen-up) {
    .robot:nth-of-type(2n+1) {
      .robot-picture {
        @include span-columns(5);
      }
      .robot-info {
        @include span-columns(3);
      }
    }
  }
}

// every even one reads RTL
@include direction-context(right-to-left) {
  @include media($large-screen-up) {
    .robot:nth-of-type(2n) {
      .robot-picture {
        @include span-columns(5);
      }
      .robot-info {
        @include span-columns(3);
      }
    }
  }
}
