// _videos.scss

.page-videos > .site-main > h1 {
  padding: $base-spacing;
  text-align: center;
}

.videos {
  @include span-columns(6);
  @include shift(3);
  h2 {
    padding-top: $base-spacing / 2;
  }
  h3 {
    padding: ($base-spacing / 2) 0;
  }
  ul {
    margin-bottom: $base-spacing;
  }
  ul a {
    display: block;
    padding: ($base-spacing / 2) 0;
    border-top: $base-border;
    color: inherit;
  }
  li:last-of-type a {
    border-bottom: $base-border;
  }
}
