---
title: Videos
layout: mediaDocument
permalink: /media/videos/
categories: ['page-videos']
---

<h1>Videos</h1>

<div class="videos">
{% for entry in site.data.videos %}
  <h2>{{ entry.year }}</h2>
  {% for category in entry.videos %}
    {% assign category_name = category[0] %}
    {% assign videos = category[1] %}
    <h3>{{ category_name }}</h3>
    <ul>
    {% for video in videos %}
      <li><a href="#{{ video[1] }}">{{ video[0] }}</a></li>
    {% endfor %}
    </ul>
  {% endfor %}
{% endfor %}

</div>
