---
title: Team History
permalink: /about/history/team/
categories: ['team-history']
layout: null
---

<h1>Team History</h1>

{% for team in site.data.history.team %}
<section id="team-{{ team.year }}" class="team">
  <img class="team-picture" src="/img/team/team-{{ team.year }}.jpg" alt="">
  <div class="team-info">
    <h2>{{ team.year }}</h2>
    {% if team.awards %}
    <h3>Awards</h3>
    <ul class="team-awards">
    {% for award in team.awards %}
      <li>{{ award }}</li>
    {% endfor %}
    {% endif %}
    <div class="officers-div">
    <h3>Officers</h3>
    <dl class="team-officers">
    {% for officer in team.officers %}
      <dt>{{ officer[0] }}</dt>
      <dd>{{ officer[1] }}</dd>
    {% endfor %}
    </dl>
</div>
<div class = "drivers-div">
    {% if team.drivers %}
    <h3>Drive Team</h3>
    <dl class="team-drivers">
    {% for driver in team.drivers %}
      <dt>{{ driver[0] }}</dt>
      <dd>{{ driver[1] }}</dd>
    {% endfor %}
    </dl>
    {% endif %}
</div>
  </div>
</section>
<hr>
{% endfor %}
