.site-header {

  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: $header-height;
  line-height: 1;
  font-size: $header-font-size;
  background-color: $header-background-color;
  text-transform: uppercase;

  h1 {
    float: left;
    font-size: inherit;
    line-height: 1;
  }

  a {
    position: relative;
    display: block;
    margin: ($header-vertical-padding / 2) ($header-horizontal-padding / 2);
    padding: ($header-vertical-padding / 2) ($header-horizontal-padding / 2);
    color: $header-font-color;
    &:hover,
    &:focus,
    &:active {
      color: $header-active-font-color;
    }

  }

  .logo {
    margin: 0;
    padding: 0;
  }

  .logo img {
    display: inline;
    width: auto;
    height: $header-height - $header-vertical-padding;
    margin-top: ($header-vertical-padding / 2);
    margin-right: 8px;
    vertical-align: (-$header-vertical-padding / 2);
  }

}


.site-header-wrap {
  @include outer-container;
}

.site-nav {
  float: right;
  height: $header-height;
  li {
    float: left;
  }
  .site-nav-btn {
    display: none;
  }
}
